<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .contianer {
            position: relative;
            top: 10px;
        }
     .header-items {
       background: linear-gradient(to left, rgb(70, 114, 163),rgb(69, 48, 121),rgb(124, 24, 182));
       display: flex;
       position:fixed;
       top:0;
       padding: 20px;
       left: -10px;
       font-family: 'Courier New', Courier, monospace;
       width:100%;
       justify-content:center;
    }
     .header-item {
        align-content: center;
        display: inline-block;
        margin-left: 20px;
        padding: 7px;
     }
     .form-item {
        border-radius: 5px;
        border: none;
        margin-left: 2px;
     }
     a.header-item {
        color:white;
        text-decoration: none;
     }
     .item-button {
        padding-left: 40px;
        padding-right: 40px;
     }
     .item-input {
        padding-right: 100px;
     }
     .item-input {
        padding-right: 100px;
     }
     .item-select {
        padding-right: 50px;
     }

.item-nav {  
      background: linear-gradient(to top,rgb(250, 254, 255), rgb(234, 248, 248),rgb(191, 215, 231),rgb(191, 215, 231),rgb(191, 215, 231),rgb(124, 158, 187));
       display: flex;
       height: 80px;
       padding: 20px;
       position: relative;
       font-family: 'Courier New', Courier, monospace;
       width:98%;
       left: -7px;
       z-index: -1;
       overflow:hidden;
       justify-content:center;
}


.body-contianer{
    width:100%;
    display: flex;
    justify-content:center;
}

     .body-items {
        width: 900px;
        height: 900px;
        background-color: rgb(188, 240, 240);
        border-radius: 20px;
     }

     .body-item {
        display: inline-block;
        margin:5px;
        padding: 7px;
        border-radius: 5px;
        border: none;
        font-family:Verdana, Geneva, Tahoma, sans-serif
     }
     .body-item-form {
        margin-left:150px;
     }
     .body-item-button {
        padding-left: 40px;
        padding-right: 40px;
        border:2px solid rgb(196, 178, 214);
     }
     a.body-item {
        text-decoration: none;
        color: #311d7a;
        margin-left: 100px;
     }
    </style>
</head>
<body>
    <div class="contianer">
        <div class="header-items">
           <div class="contianer">
            <a class="header-item" href="#">Category</a>
            <a class="header-item" href="#">Book</a>
            <a class="header-item" href="#">Author</a>
            <a class="header-item" href="#">Role</a>
            <a class="header-item" href="#">User</a>
           </div>
            <form class="header-item item-form" action="">
                <select class="header-item form-item item-select" name="" id="">
                    <option class="header-item" value="Book">Category</option>
                    <option class="header-item" value="Book">Book</option>
                    <option class="header-item" value="Book">Author</option>
                    <option class="header-item" value="Book">Role</option>
                    <option class="header-item" value="Book">User</option>
                </select>
                <input class="header-item form-item item-input" type="text" placeholder="Search">
                <button class="header-item form-item item-button" type="submit">send</button>
            </form>
           <div class="contianer"> <a class="header-item logout-item" href="#">Logout</a></div>
        </div>
        <div class="item-nav"></div>
    </div>
  <div class="body-contianer">
    <div class="body-items">
        <form class="body-item body-item-form" action="">
            <input class="body-item" type="text" placeholder="Search" >
             <button  class="body-item body-item-button"  type="submit">send</button>
        </form>
        <a class="body-item" href="#">add category</a>
    </div>
  </div>
</body>
</html>