@{
    Layout = null;
}
<head>
     <link rel="stylesheet" href="~/css/Login.css" />
</head>
<body>
<div class="main-contianer">
    <div class="contianer">
        <div class="login-form">
            <form method="post">
                <label class="login-item" for="email">Email</label>
                <input  class="login-item"  name="Email" type="email" placeholder="email">
                <label class="login-item" for="Password">Password</label>
                <input class="login-item" id="password" name="Password" type="password" placeholder="Password">
                <a href="#" class="login-item">forget password</a>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
