<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebUI.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/AdminPage.css" />
</head>
<body>
    <header>
        <div class="contianer">
            <div class="header-items">
                <div class="contianer">
                    <a class="header-item" asp-controller="Category" asp-action="GetAllCategory">Category</a>
                    <a class="header-item" href="#">Book</a>
                    <a class="header-item" href="#">Author</a>
                    <a class="header-item" href="#">Role</a>
                    <a class="header-item" href="#">User</a>
                </div>
                <form class="header-item item-form" action="">
                    <select class="header-item form-item item-select" name="" id="">
                        <option class="header-item" value="Book">Category</option>
                        <option class="header-item" value="Book">Book</option>
                        <option class="header-item" value="Book">Author</option>
                        <option class="header-item" value="Book">Role</option>
                        <option class="header-item" value="Book">User</option>
                    </select>
                    <input class="header-item form-item item-input" type="text" placeholder="Search">
                    <button class="header-item form-item item-button" type="submit">send</button>
                </form>
                <div class="contianer"> <a class="header-item logout-item" href="#">Logout</a></div>
            </div>
        </div>
        </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - WebUI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
