.contianer {
    position: relative;
    top: 10px;
}

.header-items {
    background: linear-gradient(to left, rgb(70, 114, 163),rgb(69, 48, 121),rgb(124, 24, 182));
    display: flex;
    position: fixed;
    top: 0;
    padding: 20px;
    left: -10px;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    justify-content: center;
}

.header-item {
    align-content: center;
    display: inline-block;
    margin-left: 20px;
    padding: 7px;
}

.form-item {
    border-radius: 5px;
    border: none;
    margin-left: 20px;
}

a.header-item {
    color: white;
    text-decoration: none;
}

.item-button {
    padding-left: 40px;
    padding-right: 40px;
}

.item-input {
    padding-right: 100px;
}

.item-input {
    padding-right: 100px;
}

.item-select {
    padding-right: 50px;
}
