.main-contianer {
    height: 600px;
    display: flex;
    align-items:  center;
    justify-content: center;
}
.contianer{
    display: flex;
    position: relative;
    justify-content: center;
    width: 45rem;
    height: 27rem;
    background: linear-gradient( rgb(31, 145, 120), rgb(8, 43, 75));
    border-radius: 1rem;
}
.contianer:hover {
    background: linear-gradient(to right, rgb(31, 145, 120), rgb(8, 43, 75));
}
.login-form {
    display: flex;
    width: 80%;
    padding-right: 1.5rem;
    height: 60%;
    justify-content: center;
    position: relative;
    top:3rem;
}
.login-item {
   display: inline-block;
   position: relative;
   width: 100%;
   padding: 1.3rem 1rem;
   height: 1rem;
   border-radius: 0.5rem;
}
label.login-item {
    font-size: 20px;
    color: aliceblue;
    margin-bottom:0.5rem;
}
a.login-item {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.2rem;
}
button {
    display: block;
    margin-top: 1rem;
    padding: 0.7rem 3.5rem;
    border-radius: 0.5rem;
    background: linear-gradient(to left, rgb(80, 207, 180), rgb(13, 45, 150));
    color: aliceblue;
    font-size: 1rem;
    border-style: none;
}
button:hover{
    background: linear-gradient(to right,rgb(27, 165, 135), rgb(13, 39, 122));
}
